{% if menu %}

    <nav class="menu">

        <div class="container">

            <div class="menu__wrap">
                {% for item in menu.items %}

                    <div class="menu__item {{ item.classes | join(' ') }}">
                        <a target="{{ item.target }}" href="{{ item.link }}" class="menu__item__link {% if item.children %}has-children{% endif %}">{{ item.title }}</a>

                        {% if item.children %}
                            <div class="dropdown">
                                {% for child in item.children %}
                                    <div class="menu__item__child">
                                        <a href="{{ child.link }}" target="{{ child.target }}" class="menu__item__link__child">{{ child.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>

                {% endfor %}
            </div>

{#            <div class="menu__wrap">#}
{#                <div class="menu__item">#}
{#                    <a href="/contact" class="menu__item__link">Contact</a>#}
{#                </div>#}
{#                <div class="menu__item">#}
{#                    <a href="https://investor.rjis.co.uk/signin" class="menu__item__link">Client Login</a>#}
{#                </div>#}
{#            </div>#}

        </div>

    </nav>

{% endif %}
